<div class="sidebar d-none d-md-block bg-light p-3">
  <h5 class="mb-3">Quick Actions</h5>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">New Report</a>
    <a href="#" class="list-group-item list-group-item-action"
      >Client Management</a
    >
    <a href="#" class="list-group-item list-group-item-action">Settings</a>
  </div>

  <h5 class="mt-4 mb-3">Recent Activity</h5>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action"
      >Report Generated</a
    >
    <a href="#" class="list-group-item list-group-item-action">Client Added</a>
    <a href="#" class="list-group-item list-group-item-action"
      >Campaign Started</a
    >
  </div>
</div>
